@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-SaAlx4k2Hx8g: #3291ff;
  --plasmic-token-menu-color: var(--token-SaAlx4k2Hx8g);
  --token-Ixl-IjFrwLDO: #000000;
  --plasmic-token-unnamed-style-token-2: var(--token-Ixl-IjFrwLDO);
  --token-nss9sy65dY1W: #2c343c;
  --plasmic-token-heading-color: var(--token-nss9sy65dY1W);
  --token-DeyX3IMIlUdu: 1px;
  --plasmic-token-unnamed-style-token: var(--token-DeyX3IMIlUdu);
  --token-wqXRrdRl11tC: 100%;
  --plasmic-token-auto: var(--token-wqXRrdRl11tC);
  --token-vh756wIvznD5: 100%;
  --plasmic-token-auto-2: var(--token-vh756wIvznD5);
  --token-wnXjckzokPGV: #2c343c;
  --plasmic-token-unnamed-style-token-3: var(--token-wnXjckzokPGV);
  --token-mlRPBnk6qH1i: var(--token-Ixl-IjFrwLDO);
  --plasmic-token-unnamed-style-token-4: var(--token-mlRPBnk6qH1i);
}

.plasmic_default_styles {
  --mixin-ZXzBDt_4Go07_font-family: "Inter";
  --mixin-ZXzBDt_4Go07_font-size: 16px;
  --mixin-ZXzBDt_4Go07_font-weight: 400;
  --mixin-ZXzBDt_4Go07_font-style: normal;
  --mixin-ZXzBDt_4Go07_color: #535353;
  --mixin-ZXzBDt_4Go07_text-align: left;
  --mixin-ZXzBDt_4Go07_text-transform: none;
  --mixin-ZXzBDt_4Go07_line-height: 1.5;
  --mixin-ZXzBDt_4Go07_letter-spacing: normal;
  --mixin-ZXzBDt_4Go07_white-space: pre-wrap;
  --mixin-ZXzBDt_4Go07_user-select: text;
  --mixin-ZXzBDt_4Go07_text-decoration-line: none;
  --mixin-ZXzBDt_4Go07_text-overflow: clip;
  --mixin-thgqkIDGmPaL_color: #000000;
  --mixin-thgqkIDGmPaL_font-weight: 900;
  --mixin-thgqkIDGmPaL_font-size: 72px;
  --mixin-thgqkIDGmPaL_line-height: 1;
  --mixin-thgqkIDGmPaL_letter-spacing: -4px;
  --mixin-8b-4SwXY24Ee_color: #000000;
  --mixin-8b-4SwXY24Ee_font-weight: 700;
  --mixin-8b-4SwXY24Ee_font-size: 48px;
  --mixin-8b-4SwXY24Ee_line-height: 1.1;
  --mixin-8b-4SwXY24Ee_letter-spacing: -1px;
  --mixin-ynlKyZ85VEIj_color: #3291ff;
  --mixin-Yk97XzwPbOes_color: #000000;
  --mixin-Yk97XzwPbOes_font-weight: 600;
  --mixin-Yk97XzwPbOes_font-size: 32px;
  --mixin-Yk97XzwPbOes_line-height: 1.2;
  --mixin-Yk97XzwPbOes_letter-spacing: -0.8px;
  --mixin-oTcmk35qzFJm_font-family: "Inter";
  --mixin-oTcmk35qzFJm_color: #000000;
  --mixin-oTcmk35qzFJm_font-size: 24px;
  --mixin-oTcmk35qzFJm_font-weight: 600;
  --mixin-oTcmk35qzFJm_letter-spacing: -0.5px;
  --mixin-oTcmk35qzFJm_line-height: 1.3;
  --mixin-U-6IvT8GzHG0_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-U-6IvT8GzHG0_border-bottom-color: #dddddd;
  --mixin-U-6IvT8GzHG0_border-bottom-style: solid;
  --mixin-U-6IvT8GzHG0_border-bottom-width: 1px;
  --mixin-U-6IvT8GzHG0_border-left-color: #dddddd;
  --mixin-U-6IvT8GzHG0_border-left-style: solid;
  --mixin-U-6IvT8GzHG0_border-left-width: 1px;
  --mixin-U-6IvT8GzHG0_border-right-color: #dddddd;
  --mixin-U-6IvT8GzHG0_border-right-style: solid;
  --mixin-U-6IvT8GzHG0_border-right-width: 1px;
  --mixin-U-6IvT8GzHG0_border-top-color: #dddddd;
  --mixin-U-6IvT8GzHG0_border-top-style: solid;
  --mixin-U-6IvT8GzHG0_border-top-width: 1px;
  --mixin-U-6IvT8GzHG0_border-bottom-left-radius: 3px;
  --mixin-U-6IvT8GzHG0_border-bottom-right-radius: 3px;
  --mixin-U-6IvT8GzHG0_border-top-left-radius: 3px;
  --mixin-U-6IvT8GzHG0_border-top-right-radius: 3px;
  --mixin-U-6IvT8GzHG0_font-family: "Inconsolata";
  --mixin-U-6IvT8GzHG0_padding-bottom: 1px;
  --mixin-U-6IvT8GzHG0_padding-left: 4px;
  --mixin-U-6IvT8GzHG0_padding-right: 4px;
  --mixin-U-6IvT8GzHG0_padding-top: 1px;
  --mixin-bJjWFMBwAMit_font-family: "Inter";
  --mixin-bJjWFMBwAMit_color: #000000;
  --mixin-bJjWFMBwAMit_font-size: 20px;
  --mixin-bJjWFMBwAMit_font-weight: 600;
  --mixin-bJjWFMBwAMit_letter-spacing: -0.3px;
  --mixin-bJjWFMBwAMit_line-height: 1.5;
  --mixin-XGvONboYwDm4_font-family: "Inter";
  --mixin-XGvONboYwDm4_color: #000000;
  --mixin-XGvONboYwDm4_font-size: 16px;
  --mixin-XGvONboYwDm4_font-weight: 600;
  --mixin-XGvONboYwDm4_line-height: 1.5;
  --mixin-QzguOG6iKjkL_border-left-color: #dddddd;
  --mixin-QzguOG6iKjkL_border-left-style: solid;
  --mixin-QzguOG6iKjkL_border-left-width: 3px;
  --mixin-QzguOG6iKjkL_color: #888888;
  --mixin-QzguOG6iKjkL_padding-left: 10px;
  --mixin-z8gJlKvPWSuY_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-z8gJlKvPWSuY_border-bottom-color: #dddddd;
  --mixin-z8gJlKvPWSuY_border-bottom-style: solid;
  --mixin-z8gJlKvPWSuY_border-bottom-width: 1px;
  --mixin-z8gJlKvPWSuY_border-left-color: #dddddd;
  --mixin-z8gJlKvPWSuY_border-left-style: solid;
  --mixin-z8gJlKvPWSuY_border-left-width: 1px;
  --mixin-z8gJlKvPWSuY_border-right-color: #dddddd;
  --mixin-z8gJlKvPWSuY_border-right-style: solid;
  --mixin-z8gJlKvPWSuY_border-right-width: 1px;
  --mixin-z8gJlKvPWSuY_border-top-color: #dddddd;
  --mixin-z8gJlKvPWSuY_border-top-style: solid;
  --mixin-z8gJlKvPWSuY_border-top-width: 1px;
  --mixin-z8gJlKvPWSuY_border-bottom-left-radius: 3px;
  --mixin-z8gJlKvPWSuY_border-bottom-right-radius: 3px;
  --mixin-z8gJlKvPWSuY_border-top-left-radius: 3px;
  --mixin-z8gJlKvPWSuY_border-top-right-radius: 3px;
  --mixin-z8gJlKvPWSuY_font-family: "Inconsolata";
  --mixin-z8gJlKvPWSuY_padding-bottom: 3px;
  --mixin-z8gJlKvPWSuY_padding-left: 6px;
  --mixin-z8gJlKvPWSuY_padding-right: 6px;
  --mixin-z8gJlKvPWSuY_padding-top: 3px;
  --mixin-vazyfaExk6dx_display: flex;
  --mixin-vazyfaExk6dx_flex-direction: column;
  --mixin-vazyfaExk6dx_align-items: stretch;
  --mixin-vazyfaExk6dx_justify-content: flex-start;
  --mixin-vazyfaExk6dx_list-style-position: outside;
  --mixin-vazyfaExk6dx_padding-left: 40px;
  --mixin-vazyfaExk6dx_position: relative;
  --mixin-vazyfaExk6dx_list-style-type: decimal;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-ZXzBDt_4Go07_font-family);
  font-size: var(--mixin-ZXzBDt_4Go07_font-size);
  font-weight: var(--mixin-ZXzBDt_4Go07_font-weight);
  font-style: var(--mixin-ZXzBDt_4Go07_font-style);
  color: var(--mixin-ZXzBDt_4Go07_color);
  text-align: var(--mixin-ZXzBDt_4Go07_text-align);
  text-transform: var(--mixin-ZXzBDt_4Go07_text-transform);
  line-height: var(--mixin-ZXzBDt_4Go07_line-height);
  letter-spacing: var(--mixin-ZXzBDt_4Go07_letter-spacing);
  white-space: var(--mixin-ZXzBDt_4Go07_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-thgqkIDGmPaL_color);
  font-weight: var(--mixin-thgqkIDGmPaL_font-weight);
  font-size: var(--mixin-thgqkIDGmPaL_font-size);
  line-height: var(--mixin-thgqkIDGmPaL_line-height);
  letter-spacing: var(--mixin-thgqkIDGmPaL_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-8b-4SwXY24Ee_color);
  font-weight: var(--mixin-8b-4SwXY24Ee_font-weight);
  font-size: var(--mixin-8b-4SwXY24Ee_font-size);
  line-height: var(--mixin-8b-4SwXY24Ee_line-height);
  letter-spacing: var(--mixin-8b-4SwXY24Ee_letter-spacing);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-ynlKyZ85VEIj_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-Yk97XzwPbOes_color);
  font-weight: var(--mixin-Yk97XzwPbOes_font-weight);
  font-size: var(--mixin-Yk97XzwPbOes_font-size);
  line-height: var(--mixin-Yk97XzwPbOes_line-height);
  letter-spacing: var(--mixin-Yk97XzwPbOes_letter-spacing);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-oTcmk35qzFJm_font-family);
  color: var(--mixin-oTcmk35qzFJm_color);
  font-size: var(--mixin-oTcmk35qzFJm_font-size);
  font-weight: var(--mixin-oTcmk35qzFJm_font-weight);
  letter-spacing: var(--mixin-oTcmk35qzFJm_letter-spacing);
  line-height: var(--mixin-oTcmk35qzFJm_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-U-6IvT8GzHG0_background);
  font-family: var(--mixin-U-6IvT8GzHG0_font-family);
  border-radius: var(--mixin-U-6IvT8GzHG0_border-top-left-radius)
    var(--mixin-U-6IvT8GzHG0_border-top-right-radius)
    var(--mixin-U-6IvT8GzHG0_border-bottom-right-radius)
    var(--mixin-U-6IvT8GzHG0_border-bottom-left-radius);
  padding: var(--mixin-U-6IvT8GzHG0_padding-top)
    var(--mixin-U-6IvT8GzHG0_padding-right)
    var(--mixin-U-6IvT8GzHG0_padding-bottom)
    var(--mixin-U-6IvT8GzHG0_padding-left);
  border-top: var(--mixin-U-6IvT8GzHG0_border-top-width)
    var(--mixin-U-6IvT8GzHG0_border-top-style)
    var(--mixin-U-6IvT8GzHG0_border-top-color);
  border-right: var(--mixin-U-6IvT8GzHG0_border-right-width)
    var(--mixin-U-6IvT8GzHG0_border-right-style)
    var(--mixin-U-6IvT8GzHG0_border-right-color);
  border-bottom: var(--mixin-U-6IvT8GzHG0_border-bottom-width)
    var(--mixin-U-6IvT8GzHG0_border-bottom-style)
    var(--mixin-U-6IvT8GzHG0_border-bottom-color);
  border-left: var(--mixin-U-6IvT8GzHG0_border-left-width)
    var(--mixin-U-6IvT8GzHG0_border-left-style)
    var(--mixin-U-6IvT8GzHG0_border-left-color);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-bJjWFMBwAMit_font-family);
  color: var(--mixin-bJjWFMBwAMit_color);
  font-size: var(--mixin-bJjWFMBwAMit_font-size);
  font-weight: var(--mixin-bJjWFMBwAMit_font-weight);
  letter-spacing: var(--mixin-bJjWFMBwAMit_letter-spacing);
  line-height: var(--mixin-bJjWFMBwAMit_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-XGvONboYwDm4_font-family);
  color: var(--mixin-XGvONboYwDm4_color);
  font-size: var(--mixin-XGvONboYwDm4_font-size);
  font-weight: var(--mixin-XGvONboYwDm4_font-weight);
  line-height: var(--mixin-XGvONboYwDm4_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-QzguOG6iKjkL_color);
  padding-left: var(--mixin-QzguOG6iKjkL_padding-left);
  border-left: var(--mixin-QzguOG6iKjkL_border-left-width)
    var(--mixin-QzguOG6iKjkL_border-left-style)
    var(--mixin-QzguOG6iKjkL_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-z8gJlKvPWSuY_background);
  font-family: var(--mixin-z8gJlKvPWSuY_font-family);
  border-radius: var(--mixin-z8gJlKvPWSuY_border-top-left-radius)
    var(--mixin-z8gJlKvPWSuY_border-top-right-radius)
    var(--mixin-z8gJlKvPWSuY_border-bottom-right-radius)
    var(--mixin-z8gJlKvPWSuY_border-bottom-left-radius);
  padding: var(--mixin-z8gJlKvPWSuY_padding-top)
    var(--mixin-z8gJlKvPWSuY_padding-right)
    var(--mixin-z8gJlKvPWSuY_padding-bottom)
    var(--mixin-z8gJlKvPWSuY_padding-left);
  border-top: var(--mixin-z8gJlKvPWSuY_border-top-width)
    var(--mixin-z8gJlKvPWSuY_border-top-style)
    var(--mixin-z8gJlKvPWSuY_border-top-color);
  border-right: var(--mixin-z8gJlKvPWSuY_border-right-width)
    var(--mixin-z8gJlKvPWSuY_border-right-style)
    var(--mixin-z8gJlKvPWSuY_border-right-color);
  border-bottom: var(--mixin-z8gJlKvPWSuY_border-bottom-width)
    var(--mixin-z8gJlKvPWSuY_border-bottom-style)
    var(--mixin-z8gJlKvPWSuY_border-bottom-color);
  border-left: var(--mixin-z8gJlKvPWSuY_border-left-width)
    var(--mixin-z8gJlKvPWSuY_border-left-style)
    var(--mixin-z8gJlKvPWSuY_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-vazyfaExk6dx_display);
  flex-direction: var(--mixin-vazyfaExk6dx_flex-direction);
  align-items: var(--mixin-vazyfaExk6dx_align-items);
  justify-content: var(--mixin-vazyfaExk6dx_justify-content);
  list-style-position: var(--mixin-vazyfaExk6dx_list-style-position);
  padding-left: var(--mixin-vazyfaExk6dx_padding-left);
  position: var(--mixin-vazyfaExk6dx_position);
  list-style-type: var(--mixin-vazyfaExk6dx_list-style-type);
  flex-column-gap: var(--mixin-vazyfaExk6dx_flex-column-gap);
}
